

[class*="col-"] {
    height: 200px;
}

.container {
    width: 100%;
    /* border: 1px solid black; */
}

.col-4 {
    background-color: black;
}

.col-1.bx1{
    background-color: #41e03f;
    height: 60px;
    margin-top: 80px;
    margin-bottom: 20px;
}
