
body {
    background-image: url(https://cdn.tutsplus.com/gamedev/uploads/legacy/043_freeShmupSprites/Free_Shmup_Sprites_Starfield.png);
}
[class*="col-"] {
    height: 200px;
}


}

.container {
    width: 100%;
    /* border: 1px solid black; */
}

.container.top {
    padding-top: 75px;
    padding-right: 100px;
}

.container.middle {
    padding-top: 75px;
    padding-left: 100px;
}

.col-3 {
    /* background-color: black; */
}



.col-1.alien1, .col-1.alien11{
    background-color: #41e03f;
    height: 60px;
    margin-top: 80px;
    margin-bottom: 20px;
}
.col-1.alien2, .col-1.alien10{
    background-color: #41e03f;
    height: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.alien3-1, .alien9-1{
    background-color: #41e03f;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.alien3-3, .alien9-3{
    background-color: #41e03f;
    height: 100px;
    margin-bottom: 20px;
}
.alien4-2, .alien8-2{
    background-color: #41e03f;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.alien4-5, .alien8-5 {
    background-color: #41e03f;
    height: 40px;
    margin-bottom: 20px;
}
.alien4-8, .alien5-8, .alien7-8, .alien8-8{
    background-color: #41e03f;
    height: 20px;
    margin-bottom: 0px;
}
.alien5-3, .alien6, .alien7-3  {
    background-color: #41e03f;
    height: 80px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.col-1.ghost1, .col-1.ghost2, .col-1.ghost12 {
    height: 70px;
}

.col-1.ghost3, .col-1.ghost11 {
    background-color: #ed2024;
    height: 40px;
    margin-top: 30px;
}
.col-1.ghost4, .col-1.ghost10 {
    background-color: #ed2024;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.ghost5-2, .ghost9-2 {
    background-color: #ed2024;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ghost5-5, .ghost9-5 {
    background-color: #ed2024;
    height: 30px;
    margin-bottom: 0px;
}
.ghost6-1, .ghost8-1 {
    background-color: #ed2024;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.ghost6-5, .ghost8-5 {
    background-color: #ed2024;
    height: 20px;
    margin-bottom: 10px;
}

.col-1.ghost7 {
    background-color: #ed2024;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
}
